<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_active %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Books of Accounts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% include "disbursement/navbar_dropdown_item.html" %}              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if current_user.admin %}    
              <li>
                <a class="dropdown-item" href="{{ url_for('user.user_list') }}">User Register</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              {% include "account/navbar_dropdown_item.html" %}
              {% include "vendor/navbar_dropdown_item.html" %}
              {% include "measure/navbar_dropdown_item.html" %}
              {% include "item/navbar_dropdown_item.html" %}
              {% include "vat/navbar_dropdown_item.html" %}
              {% include "wtax/navbar_dropdown_item.html" %}
              {% include "wtax_type/navbar_dropdown_item.html" %}
    
            </ul>
          </li>


          {% endif %}
          
          <li class="nav-item">
            <span class="nav-link">Logged in as {{ current_user.user_name }}</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-link nav-link custom-border" href="{{ url_for('user.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  