{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, text_area, save_button %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Account</h1>
    <form action="{{ url.edit }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Account</h1>
    <form action="{{ url.add }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Account Number", "account_number", form.account_number, autofocus=True) }}
        {{ text_box(form, "Account Title", "account_name", form.account_name, autofocus=False) }}

        {{  save_button() }}

    </form>
</div>
{% endblock %}

vendor_name = db.Column(db.String(255))
registered_name = db.Column(db.String(255))
tin = db.Column(db.String(255))
business_style = db.Column(db.String(255))
address = db.Column(db.String(255))
