{% extends "base.html" %}
{% from 'macros.html' import error_message %}


{% block title %}{{ app_label }}{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit {{ app_label }}</h1>
    <form action="{{ url.edit }}" method="post">
        {% else %}
    <h1 class="mb-4">Add {{ app_label }}</h1>
    <form action="{{ url.add }}" method="post">
        {% endif %}
        
        {{ form.html_tag.csrf_token }}
        {{ form.html_tag('id', hidden=True) | safe }}
        
        <div class="row mb-3">
            <label for="account_number" class="col-sm-2 col-form-label">Account Number</label>
            <div class="col-sm-10">
                {{ form.html_tag('account_number', css_class="form-control upper-case", autofocus=True, placeholder="Enter account number", required=True, autocomplete=False) | safe }}
                {{ error_message(form, 'account_number') }}
            </div>
        </div>
        
        <div class="row mb-3">
            <label for="account_name" class="col-sm-2 col-form-label">Account Title</label>
            <div class="col-sm-10">
                {{ form.html_tag('account_name', css_class="form-control upper-case", placeholder="Enter account title", required=True, autocomplete=False) | safe }}
                {{ error_message(form, 'account_name') }}
            </div>
        </div>

        <div class="row mb-3">
            <label for="account_classification_id" class="col-sm-2 col-form-label">Account Classification</label>
            <div class="col-sm-10">
                {{ form.html_tag('account_classification_id', css_class="form-select", options=account_classification_options) | safe }}
                {{ error_message(form, 'account_classification_id') }}
            </div>
        </div>

        <div class="row mb-3">
            <input type="submit" class="btn btn-success form-control" value="Save">
        </div>
    </form>
</div>
{% endblock %}

