{% extends "base.html" %}
{% from "macros_simple_form.html" import select_box, text_box, text_area, save_button %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Account</h1>
    <form action="{{ url.edit }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Account</h1>
    <form action="{{ url.add }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Account Number", "account_number", form.account_number, autofocus=True) }}
        {{ text_box(form, "Account Title", "account_name", form.account_name, autofocus=False) }}
        {{ select_box(form, "Account Classification", "account_classification_id", form.account_classification_id, account_classification_options, autofocus=False) }}

        {{  save_button() }}

    </form>
</div>
{% endblock %}

