{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, float_box, select_box, save_button %}

{% block title %}{{ app_label }}{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit {{ app_label }}</h1>
    <form action="{{ url.edit }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add {{ app_label }}</h1>
    <form action="{{ url.add }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Description", "wtax_name", form.wtax_name, autofocus=True) }}
        {{ text_box(form, "ATC", "atc", form.atc, autofocus=False) }}
        {{ float_box(form, "Tax Rate", "tax_rate", form.tax_rate, autofocus=False) }}
        {{ select_box(form, "Tax Type", "wtax_type_id", form.wtax_type_id, wtax_type_options, autofocus=False) }}
        {{  save_button() }}
    </form>
</div>
{% endblock %}
